<div class="container" style="min-height: 500px;">
  <div class="row">
    <div class="col-xs-9">
      <h1 class="page-header">メニュー詳細</h1>
      <div class="row">
        <div class="col-xs-9">

          <table width=70% class="table table-striped table-bordered">
            <tr class="info">
              <th colspan="4">トレーニング</th>
            </tr>
            <tr>
              <td colspan="2">ユーザー</td>
              <td colspan="2"><%= @event.customer.name %></td>
            </tr>
            <tr>
              <td colspan="2">日付</td>
              <td colspan="2"><%= @event.start.strftime('%Y/%m/%d') %></td>
            </tr>
            <tr>
              <td colspan="2">時間</td>
              <td colspan="2"><%= ((@event.end-@event.start)/60).ceil %>分</td>
            </tr>
            <tr>
              <td colspan="2">部位</td>
              <td colspan="2"><%= @event.part_i18n %></td>
            </tr>
            <tr>
              <th>メニュー</th>
              <th>重さ</th>
              <th>回数</th>
              <th>セット数</th>
            </tr>
            <% @event.menus.each do |menu| %>
            <tr>
              <td rowspan="<%=menu.reps.size%>"><%= menu.name %></td>
              <% menu.reps.each do |rep| %>
              <td><%= rep.weight %></td>
              <td><%= rep.count %></td>
              <td><%= rep.set_count %></td>
            </tr>
            <% end %>
            <% end %>
          </table>
          <%= link_to "一覧へ戻る", admin_events_path, class:"btn btn-info" %>
        </div>
      </div>
    </div>
  </div>
</div>