<div class="container">
  <div class="row my-menu-content">
    <h1 class="page-header">メニューテンプレート　一覧</h1>
    <div class="col-xs-7">
      <div>
      </div>
      <% if @whole_bodys.exists? %>
      <div>
        <h4>全身</h4>
        <div class="my-menu-item">
          <% @whole_bodys.each do |menu| %>
          <%= render "menu_index_item", menu: menu %>
          <% end %>
        </div>
      </div>
      <% end %>

      <% if @upper_bodys.exists? %>
      <div>
        <h4>上半身</h4>
        <div class="my-menu-item">
          <% @upper_bodys.each do |menu| %>
          <%= render "menu_index_item", menu: menu %>
          <% end %>
        </div>
      </div>
      <% end %>

      <% if @breasts.exists? %>
      <div>
        <h4>胸</h4>
        <div class="my-menu-item">
          <% @breasts.each do |menu| %>
          <%= render "menu_index_item", menu: menu %>
          <% end %>
        </div>
      </div>
      <% end %>

      <% if @arms.exists? %>
      <div>
        <h4>腕</h4>
        <div class="my-menu-item">
          <% @arms.each do |menu| %>
          <%= render "menu_index_item", menu: menu %>
          <% end %>
        </div>
      </div>
      <% end %>

      <% if @shoulders.exists? %>
      <div>
        <h4>肩</h4>
        <div class="my-menu-item">
          <% @shoulders.each do |menu| %>
          <%= render "menu_index_item", menu: menu %>
          <% end %>
        </div>
      </div>
      <% end %>

      <% if @backs.exists? %>
      <div>
        <h4>背中</h4>
        <div class="my-menu-item">
          <% @backs.each do |menu| %>
          <%= render "menu_index_item", menu: menu %>
          <% end %>
        </div>
      </div>
      <% end %>

      <% if @lower_bodys.exists? %>
      <div>
        <h4>下半身</h4>
        <div class="my-menu-item">
          <% @lower_bodys.each do |menu| %>
          <%= render "menu_index_item", menu: menu %>
          <% end %>
        </div>
      </div>
      <% end %>

      <% if @trunks.exists? %>
      <div>
        <h4>体幹</h4>
        <div class="my-menu-item">
          <% @trunks.each do |menu| %>
          <%= render "menu_index_item", menu: menu %>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>

    <div class="col-xs-offset-1 col-xs-4" style="border: 2px solid #eee; background-color: #eeeaec; margin-top: 30px;">
      <div class="customer-profile" style="width:50%; margin: 70px auto; ">
      <div class="profile-image" style="width: 27%; margin: 20px auto;">
      <%= render "customers/customer_form", customer: @customer %>
    </div>
  </div>
</div>