<div class="container">
  <div class="row my-menu-content">
    <div class="col-xs-8">
      <div>
        <h3>マイサプリメント　一覧</h3>
        <div style="margin-bottom: 20px;">
        <% if @customer == current_customer %>
        <span><%= link_to "新規登録する",new_customer_my_supplement_path, class:" btn btn-primary" %></span>
        <% end %>
        </div>
      </div>

      <% if @wheys.exists? %>
      <div>
        <h4>ホエイプロテイン</h4>
        <div class="my-menu-item">
          <% @wheys.each do |supplement| %>
          <%= render "supplement_index", supplement: supplement%>
          <% end %>
        </div>
      </div>
      <% end %>

      <% if @soys.exists? %>
      <div>
        <h4>ソイプロテイン</h4>
        <div class="my-menu-item">
          <% @soys.each do |supplement| %>
          <%= render "supplement_index", supplement: supplement %>
          <% end %>
        </div>
      </div>
      <% end %>

      <% if @caseins.exists? %>
      <div>
        <h4>カゼインプロテイン</h4>
        <div class="my-menu-item">
          <% @caseins.each do |supplement| %>
          <%= render "supplement_index", supplement: supplement %>
          <% end %>
        </div>
      </div>
      <% end %>

      <% if @aminos.exists? %>
      <div>
        <h4>アミノ酸系</h4>
        <div class="my-menu-item">
          <% @aminos.each do |supplement| %>
          <%= render "supplement_index", supplement: supplement %>
          <% end %>
        </div>
      </div>
      <% end %>

      <% if @conditions.exists? %>
      <div>
        <h4>コンディション系</h4>
        <div class="my-menu-item">
          <% @conditions.each do |supplement| %>
          <%= render "supplement_index", supplement: supplement %>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
    
    <div class="col-xs-4" style="border: 2px solid #eee; background-color: #eeeaec;">
      <div class="customer-profile" style="width:70%; margin: 70px auto; ">
      <div class="profile-image" style="width: 40%; margin: 20px auto;">
      <%= render "customers/customer_form", customer: @customer %>
    </div>
  </div>
</div>