<div class="container">
  <div class="row">
    <div class="col-xs-8　my-menu-content">
      <h3>マイサプリメント　一覧</h3>
      <%= link_to "新規登録する",new_customer_my_supplement_path %>
      <div class="my-menu-item">
        <h4></h4>
        <% @customer.my_supplements.each do |supplement| %>
        <%= link_to customer_my_supplement_path(supplement.customer_id, supplement) do %>
        <%= supplement.name %>
        <% end %>
        <%= supplement.genre_i18n %>
        <%= supplement.brand %>
        <% end %>
      </div>
      <div class="my-menu-item">
        <h4>ホエイプロテイン</h4>
      </div>
      <div class="my-menu-item">
        <h4>ソイプロテイン</h4>
      </div>
      <div class="my-menu-item">
        <h4>カゼインプロテイン</h4>
      </div>
      <div class="my-menu-item">
        <h4>アミノ酸系</h4>
      </div>
      <div class="my-menu-item">
        <h4>コンディション系</h4>
      </div>
    </div>
  </div>
</div>