<div class="comtainer">
  <div class="row">
    <div class="col-xs-8">
      <h1 class="page-header">マイサプリメント</h1>
      <h3>新規登録</h3>
      <%= form_with(model: @my_supplement, local: true, url: customer_my_supplements_path) do |f| %>
        <div class="field">
        <%= f.label :name, "名前" %>
        <%= f.text_field :name, class:"form-control" %>
        </div>
        
        <div class="field">
        <%= f.label :genre, "ジャンル" %>
        <%= f.select :genre, [["ホエイプロテイン", :whey], ["ソイプロテイン", :soy], ["カゼインプロテイン", :casein], ["アミノ酸系", :amino], ["コンディション系", :condition]], class:"form-control" %>
        </div>

        <div class="field">
        <%= f.label :brand, "ブランド" %>
        <%= f.text_field :brand, class:"form-control" %>
        </div>

        <div class="actions">
          <%= f.submit "登録" %>
        </div>

      <% end %>
    </div>
  </div>
</div>