<div>
  <% if customer_signed_in? && customer != current_customer %>
    <div id="follow_form">
      <% if current_customer.following?(customer) %>
        <!-- フォロー解除ボタン -->
        <%= form_for(current_customer, url: customer_relationships_path(customer), method: :delete, remote: true) do |f| %>
          <%= f.submit "フォロー解除", class:"btn btn-primary", style:"color: #fff; font-size: 15px;" %>
        <% end %>

      <% else %>
      <!-- フォローボタン -->
        <%= form_for(current_customer, url: customer_relationships_path(customer), method: :post, remote: true) do |f| %>
          <%= hidden_field_tag :following_id, customer.id %>
          <%= f.submit "フォローする", class:"btn btn-primary", style:"color: #fff; font-size: 15px;" %>
        <% end %>

      <% end %>
    </div>
  <% end %>
</div>

