<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <h1>フォロワー一覧</h1>
      <table class="table">
        <tr>
          <th>image</th>
          <th>name</th>
          <th></th>
        </tr>
        <% @customers.each do |customer| %>
        <tr>
          <td width="250">
            <%= link_to customer_path(customer) do %>
              <%= attachment_image_tag customer, :profile_image,  :size =>'40x40', format: 'jpeg''jpg''svg''png',fallback: "avator.svg" %>
            <% end %>
            </td>
          <td width="200"><%= customer.name %></td>
          <td>フォロー数：<%= customer.follower.count %></td>
          <td>フォロワー数：<%= customer.followed.count %></td>
          <td>
            <% if current_customer != customer %>
              <% if current_customer.following?(customer) %>
                <%= link_to 'フォロー外す', customer_relationships_path(customer.id), method: :delete %>
              <% else %>
                <%= link_to 'フォローする', customer_relationships_path(customer.id), method: :POST %>
              <% end %>
            <% end %>
          </td>
          <td>
            <%= link_to "Show", customer_path(customer) %>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>