<div>
<%= form_with(model: event, local: true) do |f| %>

    <div class="fields">
      <%= f.label :part, "部位" %>
      <span style="margin-left: 27px;">
        <%= f.select :part, [["全身", :whole_body], ["上半身", :upper_body], ["腕", :arm], ["胸", :breast], ["肩", :shoulder],["背中", :back], ["下半身", :lower_body], ["体幹", :trunk]], class:"form-control" %>
      </span>
      
    </div>
    <div class="fields">
      <%= f.label :start, "開始日時" %>
      <%= f.datetime_select :start, :use_month_numbers => true, :start_year => Time.now.year, :minute_step => 10, class:'form-control' %>
    </div>

    <div class="fields">
      <%= f.label :end, "終了日時" %>
      <%= f.datetime_select :end, :use_month_numbers => true, :start_year => Time.now.year, :minute_step => 10, class:'form-control' %>
    </div>

    <div class="menus" style="border: 3px solid #eee; margin: 10px 0px;">
      <%= f.fields_for :menus do |m| %>
        <%= render "menu_fields", f: m %>
      <% end %>
      <div class="links" style="padding: 5px;">
        <%= link_to_add_association "メニューを追加", f, :menus %>
      </div>
    </div>

<div class="actions" style="margin: 10px 0px;">
  <%= f.submit "登録", class:"btn btn-primary" %>
</div>
<% end %>
</div>