<div style="text-align: center;">
<%= form_with(model: event, local: true) do |f| %>

    <div class="fields">
      <%= f.label :part, "部位" %>
      <span style="margin-left: 27px;">
        <%= f.select :part, [["全身", :whole_body], ["上半身", :upper_body], ["腕", :arm], ["胸", :breast], ["肩", :shoulder],["背中", :back], ["下半身", :lower_body], ["体幹", :trunk]], class:"form-control" %>
      </span>
    </div>
    <div class="fields">
      <%= f.label :start, "開始日時" %>
      <%= f.datetime_select :start, :use_month_numbers => true, :start_year => Time.now.year, :minute_step => 10, class:'form-control' %>
    </div>

    <div class="fields">
      <%= f.label :end, "終了日時" %>
      <%= f.datetime_select :end, :use_month_numbers => true, :start_year => Time.now.year, :minute_step => 10, class:'form-control' %>
    </div>

    <div class="menus" style="border: 3px solid #eee; margin: 10px 0px;">
      <%= f.fields_for :menus do |m| %>
        <%= render "menu_fields", f: m %>
      <% end %>
      <div class="links" style="padding: 5px;">
        <%= link_to_add_association "メニューを追加", f, :menus %>
      </div>
    </div>

    <div class="actions" style="margin: 10px 0px;">
      <%= f.submit "登録", class:"btn btn-primary" %>
    </div>

<script>
  var a = 1;
  $(function(){
    $(document).on('click', '.menuMethod', function () {});

    $(document).on('inview', '.dummy1', function() {
      console.log('inview');
      // 親がdivなら、そのdivにユニークなidを振る
      var pulldown = $(this).closest('div').attr('id', 'pulldown' + a);
      var form = $('#menuForm').attr('id', 'form' + a);

      var  pulldownradio = $('#method1').attr('id', 'pulldownMethod' + a);
      var formradio = $('#method2').attr('id', 'formMethod' + a);
      $('input[name="menuMethod"]').attr('name', 'method' + a);

      a++;
      // dummy1 を削除
      $('.dummy1').remove();

      $(pulldownradio).on('click',function() {
        console.log('pulldownradio');
        $(form).hide();
        $(form).find('input').prop("disabled", true);
        $(pulldown).find('select').prop("disabled", false);
        $(pulldown).show();
      });
      $(formradio).on('click', function(){
        console.log('formradio');
        $(pulldown).hide();
        $(form).show();
        $(form).find('input').prop("disabled", false);
        $(pulldown).find('select').prop("disabled", true);
      });
    });
  });
</script>

<% end %>
</div>