<div class="nested-fields">
  <div class="" style="padding: 10px; border-bottom: 1px solid #eee; background-color: #eeeaec;">
    <div>
     <input type="radio" name="menuMethod" id="method1" checked="checked">マイメニューから選ぶ
     <input type="radio" name="menuMethod" id="method2">入力する
    </div>
    <div id="menuPulldown">
      <%= f.label :name, "メニュー" %>
      <%= f.collection_select :name, MyMenuItem.all, :name, :name, include_blank:"選択してください", class:"form-control" %>
      <p class="dummy1"></p>
    </div>
    <div id="menuForm" style="display: none;">
      <%= f.label :name, "メニュー" %>
      <%= f.text_field :name, class:"form-control" %>
    </div>
  </div>
  <div style="border-bottom: 1px solid #eee; padding: 5px;">
  <%= link_to_remove_association "メニューを削除", f %>
</div>
  

    <%= f.fields_for :reps do |r| %>
      <%= render "rep_fields", f: r %>
    <% end %>
  
    <div class="links" style="padding: 5px; border-bottom: 1px solid #eee; ">
    <%= link_to_add_association "重さなどを追加", f, :reps %>
  </div>
</div>


