<div class="nested-fields" style="border-bottom: 1px solid #eee;">
  <div class="fields" style="border-bottom: 1px solid #eee; padding: 10px; background-color: #eeeaec;">
  <%= f.label :name, "メニュー（50文字以内）" %>
  <%= f.text_field :name, class:"form-control" %>
  <%= link_to_remove_association "メニューを削除", f %>

  </div>
 <%= f.fields_for :reps do |r| %>
    <%= render "rep_fields", f: r %>
  <% end %>
  <div class="links" style="padding: 5px 0px;">
    <%= link_to_add_association "重さなどを追加", f, :reps%>
  </div>
</div>


