<div class="container">
  <div class="row">
    <div class="col-xs-9">
      <h1><%= @event.start.strftime('%Y/%m/%d') %>メニュー詳細</h1>
      <button onclick="display()">編集する</button>
      <%= link_to "削除", event_path(@event),method: :delete, "data-confirm" => "本当に消しますか？", class:"btn active" %>
      <div class="row" id ="customer-event">
        <div class="col-xs-9">

          <table border="2" width=70%>
            <tr>
              <th colspan="4">トレーニング</th>
            </tr>
            <tr>
              <td colspan="2">時間</td>
              <td colspan="2"><%= ((@event.end-@event.start)/60).ceil %>分</td>
            </tr>
            <tr>
              <td colspan="2">部位</td>
              <td colspan="2"><%= @event.part_i18n %></td>
            </tr>
            <tr>
              <th>メニュー</th>
              <th>重さ</th>
              <th>回数</th>
              <th>セット数</th>
            </tr>
            <% @event.menus.each do |menu| %>
            <tr>
              <td rowspan="<%=menu.reps.size%>"><%= menu.name %></td>
              <% menu.reps.each do |rep| %>
              <td><%= rep.weight %></td>
              <td><%= rep.count %></td>
              <td><%= rep.set_count %></td>
            </tr>
            <% end %>
            <% end %>
          </table>
        </div>
        <% if @event.liked_by?(current_customer) %>
          <li>
            <%= link_to event_event_likes_path(@event), method: :delete do %>
              <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
              <%= @event.likes.count %> いいね
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to event_event_likes_path(@event), method: :post do %>
              <i class="fa fa-heart-o" aria-hidden="true"></i>
              <%= @event.likes.count %> いいね
            <% end %>
          </li>
        <% end %>
      </div>

      <div class="row" id="customer-event-edit" style="display: none;">
        <div class="col-xs-9">
          <%= render 'form', event: @event %>
        </div>
      </div>
    </div>
  </div>
</div>