<div class="container" style="min-height: 500px;">
  <%= render "error_message", event: @event %>
  <div class="row">
    <div class="col-xs-7" style="margin-bottom: 50px;">
    <h1 class="page-header" id="event-title">メニュー詳細</h1>
      <div style="margin-bottom: 30px;">
      <% if @event.customer_id == current_customer.id %>
      <button onclick="display()" class="btn btn-success">編集する</button>
      <%= link_to "削除する", event_path(@event), class:"btn btn-danger", method: :delete, "data-confirm" => "本当に消しますか？" %>
      <% end %>
      <%= link_to "タイムラインへ戻る", events_path, class:"btn btn-info" %>
      </div>
      <div id="customer-event">
        <%= render "event_table", event: @event %>
      </div>
      <div id="customer-event-edit" style="display: none;">
        <%= render 'form', event: @event %>
      </div>
    </div>

    <div class="col-xs-offset-1 col-xs-4" style="border: 2px solid #eee; background-color: #eeeaec; margin-top: 50px">
      <div class="customer-profile" style="width:70%; margin: 70px auto; ">
      <div class="profile-image" style="width: 40%; margin: 20px auto;">
      <%= render "customers/customer_form", customer: @event.customer %>
    </div>
  </div>
</div>
