    <%= attachment_image_tag customer, :profile_image,  :size =>'100x100', format: 'jpeg''jpg''svg''png',fallback: "avator.svg" %>
  </div>
  <table class="table customer-table table-hover" >
    <% if customer != current_customer %>
    <tr>
      <td class="table-customer-name" colspan="2" style="text-align: center;">
        <%= link_to customer_path(customer) do %>
        <strong><%= customer.name %></strong>
        <% end %>
        <% if customer.is_data_available == false %>
        <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
        <% end %>
      </td>
    </tr>
    <tr>
      <td class="follow-btn" colspan="2">
        <%= render "relationships/follow", customer: customer %>
      </td>
    </tr>
      <% else %>
    <tr>
      <td colspan="2">
        <strong><%= customer.name %></strong>
        <% if customer.is_data_available == false %>
        <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
        <% end %>
      </td>
    </tr>
      <% end %>
    </tr>
    <tr >
      <td>
        <%= link_to customer_follows_path(customer), style:"color: black;" do %>
          <%= customer.follower.count %>フォロー
          <% end %>
      </td>
      <td>
        <%= link_to customer_followers_path(customer), style:"color: black;" do %>
          <%= customer.followed.count %>フォロワー
        <% end %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <%= link_to "トレーニングいいね一覧", customer_event_likes_path(customer), style:"display:block; color: black;" %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <%= link_to "マイメニューいいね一覧", customer_my_menu_likes_path(customer), style:"display:block; color: black;" %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
      <%= link_to "マイメニュー", customer_my_menus_path(customer), style:"display:block; color: black;" %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
      <%= link_to "マイサプリメント", customer_my_supplements_path(customer), style:"display:block; color: black;" %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
      <%= link_to "マイジム", customer_my_gyms_path(customer), style:"display:block; color: black;" %>
      </td>
    </tr>
    <% if customer.is_data_available == true %>
    <tr>
      <td colspan="2">
        <%= link_to "データ", customer_datas_path(customer), style:"display:block; color: black;" %>
      </td>
    </tr>
    <% end %>
    <% if customer.id == current_customer.id %>
    <tr>
      <td colspan="2">
        <%= link_to "ユーザー情報編集", edit_customer_path(customer), style:"display:block; color: black;" %>
      </td>
    </tr>
    <% end %>
  </table>
</div>