    <%= attachment_image_tag customer, :profile_image,  :size =>'80x80', format: 'jpeg''jpg''svg''png',fallback: "avator.svg" %>
  </div>
  <table class="table customer-table table-hover" >
    <tr>
      <% if customer != current_customer %>
      <td class="table-customer-name">
        <%= link_to customer_path(customer) do %>
        <strong><%= customer.name %></strong>
        <% end %>
      </td>
      <td class="follow-btn">
        <% if current_customer.following?(customer) %>
          <%= link_to 'フォロー外す', customer_relationships_path(customer.id), method: :delete, remote: true, class:"btn btn-primary" %>
         <% else %>
          <%= link_to 'フォローする',customer_relationships_path(customer.id), method: :POST, remote: true, class:"btn btn-primary" %>
         <% end %>
      </td>
      <% else %>
      <td colspan="2"><strong><%= customer.name %></strong></td>
      <% end %>
    </tr>
    <tr >
      <td>
        <%= link_to customer_follows_path(customer), style:"color: black;" do %>
          <%= customer.follower.count %>フォロー
          <% end %>
      </td>
      <td>
        <%= link_to customer_followers_path(customer), style:"color: black;" do %>
          <%= customer.followed.count %>フォロワー
        <% end %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <%= link_to "トレーニングいいね一覧", customer_event_likes_path(customer), style:"display:block; color: black;" %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <%= link_to "マイメニューいいね一覧", customer_my_menu_likes_path(customer), style:"display:block; color: black;" %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
      <%= link_to "マイメニュー", customer_my_menus_path(customer), style:"display:block; color: black;" %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
      <%= link_to "マイサプリメント", customer_my_supplements_path(customer), style:"display:block; color: black;" %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
      <%= link_to "マイジム", customer_my_gyms_path(customer), style:"display:block; color: black;" %>
      </td>
    </tr>
  </table>
</div>