<div class="container-fruid">
  <div class="row">
    <div class="col-xs-offset-2 col-xs-5 customer-show">
      <div id="calendar"></div>
    </div>
    <div class="col-xs-5">
      <div class="customer-profile" style="width:50%; margin: 70px auto;">
        <div class="profile-image" style="width: 27%; margin: 20px auto;">
          <%= attachment_image_tag @customer, :profile_image,  :size =>'80x80', format: 'jpeg''jpg''svg''png',fallback: "avator.svg" %>
        </div>
        <table class="table customer-table" >
          <tr>
            <% if @customer != current_customer %>
            <td class="table-customer-name"><strong><%= @customer.name %></strong></td>
            <td class="follow-btn">
              <% if current_customer.following?(@customer) %>
                <%= link_to 'フォロー外す', customer_relationships_path(@customer.id), method: :delete, remote: true, class:"btn btn-primary" %>
               <% else %>
                <%= link_to 'フォローする',customer_relationships_path(@customer.id), method: :POST, remote: true, class:"btn btn-primary" %>
               <% end %>
            </td>
            <% else %>
            <td colspan="2"><strong><%= @customer.name %></strong></td>
            <% end %>
          </tr>
          <tr >
            <td>
              <%= link_to customer_follows_path(@customer), style:"color: black;" do %>
                <%= @customer.follower.count %>フォロー
                <% end %>
            </td>
            <td>
              <%= link_to customer_followers_path(@customer), style:"color: black;" do %>
                <%= @customer.followed.count %>フォロワー
              <% end %>
            </td>
          </tr>
          <tr>
            <td colspan="2">
            <%= link_to "マイメニュー", customer_my_menus_path(@customer), style:"display:block; color: black;" %>
            </td>
          </tr>
          <tr>
            <td colspan="2">
            <%= link_to "マイサプリメント", customer_my_supplements_path(@customer), class:"stretched-link active", style:"display:block; color: black;" %>
            </td>
          </tr>
          <tr>
            <td colspan="2">
            <%= link_to "マイジム", customer_my_gyms_path(@customer), class:"stretched-link active", style:"display:block; color: black;" %>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

  </div>

<script>
    // カレンダーを表示させる記述
$(function () {

          function eventCalendar() {
              return $('#calendar').fullCalendar({});
          };
          function clearCalendar() {
              $('#calendar').html('');
          };
          $(document).on('turbolinks:load', function () {
          eventCalendar();
          });
          $(document).on('turbolinks:before-cache', clearCalendar);

          $('#calendar').fullCalendar({
              events: '/customers/<%= @customer.id %>',
              //カレンダー上部を年月で表示させる
              titleFormat: 'YYYY年 M月',
              //曜日を日本語表示
              dayNamesShort: ['日', '月', '火', '水', '木', '金', '土'],
              buttonText: {
                  prev: '前月',
                  next: '次月',
                  prevYear: '前年',
                  nextYear: '翌年',
                  today: '今日',
                  month: '月',
                  week: '週',
                  day: '日'
              },
              timeFormat: "HH:mm",
                //イベントの色を変える
              eventColor:'#63ceef',
              //イベントの文字色を変える
              eventTextColor: '#000000',
          });
});

</script>