<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <%= form_for request.path, method: :get do |f| %>
      <%= f.select :menu, [ ["ベンチプレス",1], ["スクワット", 2], ["デッドリフト", 3 ] ,["ショルダープレス", 4]], prompt: "メニューを選択してください"  %>
      <%= f.submit "表示" %>
      <% end %>
      <canvas id="myChart" width="200" height="100"></canvas>
    </div>
  </div>
</div>
<script>
    var graphdays = <%== @dayline %>
    var graphtimes = <%= @timeline %>
    console.log (graphtimes);
</script>
<script>
  function draw_graph(){
    ctx = document.getElementById("myChart").getContext('2d');
    myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: graphdays,
            datasets: [{
                label: '重量',
                data: graphtimes,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    })
  }
</script>
<script>draw_graph();</script>
