<div class="container">
  <div class="row" style="margin-bottom: 50px; ">
    <h1 class="page-header">データ</h1>
    <div class="col-xs-7">
      <div style="width: 200px; margin: 0 auto;">
        <%= form_with(url: "/customers/#{@customer.id}/datas", local:true, method: :get) do |f| %>
        <%= f.collection_select :name, @customer.my_menu_items, :name, :name, include_blank:"選択してください", class:"form-control" %>
          <%= f.submit "表示", class:"btn btn-success" %>
        <% end %>
      </div>
      <canvas id="myChart" width="200" height="100"></canvas>
    </div>
      <%= render "customers/customer_form", customer: @customer %>
  </div>
</div>
<script>
    var graphdays = <%== @dayline %>
    var graphtimes = <%= @timeline %>
    
    console.log (graphtimes);
    console.log (graphdays);
    console.log (Math.max.apply(null, graphtimes)* 1.3.round);
</script>

<script>
    // $(function(){
    //     $('change-btn').on('click', function(){
    //         $.ajax({
    //             url:'/datas',
    //             type: 'GET',
    //             data{
    //                 menu: $('.menu').value
    //             }
    //         })done(function(data){
    //             data['dayline'];
    //             data['itemline'];
    //             draw_graph(data['dayline'], data['timeline'])
    //         })
    //     })
    // });
</script>
<script>
  function draw_graph(){
    ctx = document.getElementById("myChart").getContext('2d');
    myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: graphdays,
            datasets: [{
                label: '<%=params[:name]%>の重量',
                data: graphtimes,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true,
                        min: 0,
                    }
                }]
            }
        }
    })
  }
</script>
<script>
  //   function draw_graph2(){
  //   ctx = document.getElementById("myChart2").getContext('2d');
  //   myChart = new Chart(ctx, {
  //       type: 'bar',
  //       data: {
  //           labels: partdays,
  //           datasets: [{
  //               label: '重量',
  //               data: parttimes,
  //               backgroundColor: [
  //                   'rgba(255, 99, 132, 0.2)',
  //                   'rgba(54, 162, 235, 0.2)',
  //                   'rgba(255, 206, 86, 0.2)',
  //                   'rgba(75, 192, 192, 0.2)',
  //                   'rgba(153, 102, 255, 0.2)',
  //                   'rgba(255, 159, 64, 0.2)'
  //               ],
  //               borderColor: [
  //                   'rgba(255,99,132,1)',
  //                   'rgba(54, 162, 235, 1)',
  //                   'rgba(255, 206, 86, 1)',
  //                   'rgba(75, 192, 192, 1)',
  //                   'rgba(153, 102, 255, 1)',
  //                   'rgba(255, 159, 64, 1)'
  //               ],
  //               borderWidth: 1
  //           }]
  //       },
  //       options: {
  //           scales: {
  //               yAxes: [{
  //                   ticks: {
  //                       beginAtZero:true,
  //                       min: 0,
  //                   }
  //               }]
  //           }
  //       }
  //   })
  // }
</script>
<script>draw_graph();</script>
<!-- <script>draw_graph2();</script>
 -->
