<div class="container">
  <div class="row" style="margin-top: 50px">
    <div class="col-xs-offset-3 col-xs-6">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <table class="admin_signup_table" width="100%">
          <tr>
            <td width="150"><%= f.label :メールアドレス %></td>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %></td>
          </tr>

          <tr>
            <td width="150"><%= f.label :パスワード %></td>
            <td><%= f.password_field :password, autocomplete: "current-password", class:"form-control" %></td>
          </tr>
        </table>

        <div class="actions">
          <%= f.submit "ログイン", class:"btn admin-signup active" %>
        </div>
        <% end %>
    </div>

  </div>
</div>