<div class="container-fruid">
  <div class="row bg-slider">
    <div class="col-xs-offset-1 col-xs-10" style="height: 100%">
    <p style="font-size: 70px; line-height: 2; margin: 110px 0;"><strong>Your Muscle is<br> Flexible.</strong></p>
    </div>
  </div>

  <div class="row about-content">
    <div class="col-xs-offset-1 col-xs-4">
      <%= image_tag("time-management.svg", style:"width: 100%; height: 100%;") %>
    </div>
    <div class="col-xs-offset-2 col-xs-4">
      <h2 class="about-title">トレーニングメニューを<br>アプリで保存</h2>
      <p>自分流のトレーニングメニューを<br>手軽に管理できます。</p>
    </div>
    <div class="col-xs-1">
    </div>
  </div>

  <div class="row about-content">
    <div class="col-xs-offset-1 col-xs-4">
      <h2 class="about-title">日々の筋肉の成長度を<br>データで見える化</h2>
      <p>日々の筋トレの成果をデータ化し、成長を実感することができます。</p>
    </div>
    <div class="col-xs-offset-2 col-xs-4">
      <%= image_tag("data.svg", style:"width: 100%; height: 100%;") %>
    </div>
    <div class="col-xs-1">
    </div>
  </div>

  <div class="row about-content">
    <div class="col-xs-offset-1 col-xs-4">
      <%= image_tag("friend.svg", style:"width: 100%; height: 100%;") %>
    </div>
    <div class="col-xs-offset-2 col-xs-4">
      <h2 class="about-title">筋トレ仲間と切磋琢磨</h2>
      <p>あなたは一人じゃありません。全国には多くの筋トレ仲間がいます。</p>
    </div>
    <div class="col-xs-1">
    </div>
  </div>

  </div>
  <a id="link" class="anchor"></a>
  <div class="row start-content">
    <h2>はじめ方</h2>
    <div class="col-xs-offset-3 col-xs-6 start-item">
      <div class="start-box">
        <h3>STEP1</h3>
        <p>あなたの筋トレの日々の記録を<br>アプリが一括管理。</p>
      <%= image_tag("fitness-management.svg", style:"width: 50%; height: 50%;") %>
      </div>
      <div class="start-box">
        <h3>STEP2</h3>
        <p>データを見ることで<br>フィードバック。</p>
      <%= image_tag("graph.svg", style:"width: 50%; height: 50%;") %>
      </div>
      <div class="start-box">
        <h3>STEP3</h3>
        <p>日々の筋トレを<br>仲間にシェア。</p>
      <%= image_tag("share.svg", style:"width: 50%; height: 50%;") %>
      </div>
    </div>
    <div class="col-xs-3">
      
    </div>
  </div>
</div>
<script src="js/jquery.bgswitcher.js"></script>

<script>
  $(window).load(function() {
  $('.bg-slider').bgSwitcher({
    images: [ '<%= asset_path('dread.jpg')%>', '<%= asset_path('santoukin.jpg') %>', '<%= asset_path('sideraise.jpg') %>',  '<%= asset_path('buttleroap.jpg') %>', '<%= asset_path('burbel.jpg') %>'], // 切り替える背景画像を指定
    interval: 4000, // 背景画像を切り替える間隔を指定 3000=3秒
    loop: true, // 切り替えを繰り返すか指定 true=繰り返す　false=繰り返さない
    shuffle: false, // 背景画像の順番をシャッフルするか指定 true=する　false=しない
    effect: "fade", // エフェクトの種類をfade,blind,clip,slide,drop,hideから指定
    duration: 2000, // エフェクトの時間を指定します。
    easing: "swing" // エフェクトのイージングをlinear,swingから指定

  });

});
</script>