<%= form_with(model: @my_menu, local: true, url: customer_my_menu_path(@my_menu), method: :put) do |f| %>
        <%= f.label :theme, "テーマ" %>
        <%= f.text_field :theme, class:"form-control" %>
        <%= f.label :part, "部位" %>
        <%= f.select :part, [["全身", :whole_body], ["上半身", :upper_body], ["腕", :arm], ["胸", :breast], ["肩", :shoulder],["背中", :back], ["下半身", :lower_body], ["体幹", :trunk]], class:"form-control" %>

        <div class="my_menu_items">
          <%= f.fields_for :my_menu_items do |i| %>
            <%= render "my_menu_item_fields", f: i %>
          <% end %>
          <div class="links">
            <br><%= link_to_add_association "メニューを追加", f, :my_menu_items %>
          </div>
        </div>

        <div class="actions">
          <%= f.submit "登録" %>
        </div>

      <% end %>