<div class="container-fruid signup-content">
  <div class="row" style="display: flex; align-items: center; justify-content: center; height: 550px;">
    <div class="customer-devise-box">
      <div class="signin-form">
      <h2>アカウントにログイン</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field login-top-form">
          <label>メールアドレス</label>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
        </div>

        <div class="field">
          <label>パスワード</label>
          <%= f.password_field :password, autocomplete: "current-password", class:"form-control" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <label>記憶する</label>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "ログイン", class:"btn login-btn" %>
        </div>
      <% end %>
      </div>
      <div style="margin-top: 20px; font-size: 0.8125rem;">
        <span style="color: #949697; margin-right: 10px;">アカウントをお持ちでない方</span><span><%= link_to "新規登録", new_customer_registration_path, style:"color: #ff7b63;" %></span>
      </div>
    </div>
  </div>
</div>
